<template>
  <div class="home">
    <h1 class="home__heading">{{ config.title }}</h1>
  </div>
</template>

<script>
import config from '@/config/config.json'
export default {
  name: 'Home',
  components: {
  },
  data () {
    return {
      config
    }
  }
}
</script>

<style lang="scss" scoped>
  .home {
    &__heading {
      font-size: 2rem;
      text-align: center;
      width: 100%;
      color: magenta;
    }
  }
</style>
